#square-container{
    border: 1px #000000 solid;
    margin: auto;
    width: 800px;
    min-height: 450px;
    transition: all 10s;
    transition-timing-function: ease;
}

.even{
    border: 1px #000000 solid;
    background-color: #0000ff;
    width: 50px;
    height: 50px;
    margin: 2px auto;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    transition: all 10s;
    transition-timing-function: ease;
}

.odd{
    border: 1px #000000 solid;
    background-color: #61249d;
    width: 50px;
    height: 50px;
    margin: 2px auto;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    transition: all 10s;
    transition-timing-function: ease;
}

#square-container:hover {
    border-radius: 25px;
    min-height: 470px;
}

#square-container:hover .even{
    transform: translateX(-320px) rotate(1080deg) scale(2);
}

#square-container:hover .odd{
    transform: translateX(370px) rotate(-1080deg) scale(0.75);
}