h1{
    text-align: center;
    font-size: 60px;
    margin: auto;
    padding-bottom: 10px;
}
#container{
    width: 500px;
    height: 500px;
    margin: auto;
    background-image: url("/images/index-wallpp.jpg");
    padding: 10px;
    text-align: center;
}

#row{
    display: flex;
}

.box{
    width: 160px;
    height: 155px;
    margin: 5px;
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 80px;
    line-height: 155px;
    cursor: pointer;
}

#status{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 65px;
}

#start{
    width: 200px;
    height: 100px;
    margin: auto;
    text-align: center;
    background-image: url("/images/index-wallpp.jpg");
    font-size: 60px;
    color: white;
    line-height: 100px;
    cursor: pointer;
}